.card {
  display: flex;
  height: 100%;
  padding: 40px;
  border-radius: 20px;

  // box-shadow: 0px 6px 20px #ededed;
  justify-content: space-between;
  &-title {
    width: 80%;
  }
  &-slider {
    width: 592px;
    height: 435px;
    display: flex;
  }
  &-info {
    width: 100%;
  }
}

.slider {
  &-block {
    overflow: hidden;
    border-radius: 4px;
    width: calc(100% - 100px - 60px);
    &__inner {
      width: 450px;
      height: 435px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-nav {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    &__item {
      overflow: hidden;
      @extend %display;
      border-radius: 4px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.59);
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .card {
    gap: 50px;
    align-items: center;
    flex-direction: column;
    &-info {
      align-items: center;
      max-width: 600px;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .card {
    gap: 50px;
    padding: 0;
    align-items: center;
    &-slider {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
@media (max-width: 375px) {
  .card {
    gap: 50px;
    padding: 0;
    align-items: center;
    &-slider {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
