
.container {
  max-width: 1140px;
  margin: 0 auto;
  min-width: 1140px;
}
.wrapper{
  @extend %display;
}
%display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%display-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font-400 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

%font-500 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
%Gosha-sans{
  font-size: 20px;
  line-height: 25px;
  font-family: $primaryFontFamily;
} 
%icon{
  width: 20px;
  height: 20px;
}