.header {
  margin-top: 30px;
  @extend %display;
  &__logo {
    width: 108px;
    height: 69px;
  }
  &__tel {
    display: block;
    color: $blackViolet;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  &__burger {
    display: none;
  }
}
.menu {
  @extend %display;
  &__liks {
    @extend %display;
    width: 694px;
    &-item > a {
      color: $blackViolet;
      font-family: "Urbanist", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0%;
      position: relative;
      &:hover::before {
        transform: scale(1);
        transition: transform 0.25s;
      }
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        color: $Violet;
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: $Violet;
        transform: scale(0);
        transform-origin: left;
      }
    }
  }
}
@media (max-width: 1640px) {
  .container {
    max-width: 1390px;
  }
  .menu {
    &__liks {
      width: 584px;
    }
  }
}
@media (max-width: 1400px) {
  .header {
    &__logo {
      width: 110px;
    }
  }
  .container {
    max-width: 1200px;
  }
  .menu {
    &__liks {
      width: 470px;
    }
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 982px;
    padding: 0 10px;
  }
  .header {
    &__logo {
      width: 100px;
    }
    &__tel {
      font-size: 18px;
    }
  }
  .menu {
    &-liks {
      width: 390px;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 948px;
    padding: 0 20px;
  }
  .header {
    margin-top: 15px;
    &__logo {
      width: 100px;
    }
    &__tel {
      display: none;
    }
  }
  .menu {
    padding-left: 20px;
    &__liks {
      width: 400px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 740px;
    padding: 0 24px;
  }
  .header {
    margin-top: 15px;
    &__logo {
      width: 100px;
    }
    &__tel {
      display: block;
    }
  }
  .menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    min-width: 355px;
    padding: 0 20px;
  }
  .header {
    margin-top: 15px;
    &__logo {
      width: 100px;
    }
    &__tel {
      display: block;
    }
  }
  .menu {
    display: none;
  }
}
