<!-- Swiper -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.js"
  integrity="sha512-k2o1KZdvUi59PUXirfThShW9Gdwtk+jVYum6t7RmyCNAVyF9ozijFpvLEWmpgqkHuqSWpflsLf5+PEW6Lxy/wA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- <script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script> -->
<!-- mask -->
<script src="https://unpkg.com/imask"></script>

<!-- <script src="js/slider-single.js"></script> -->

<script src="js/app.min.js"></script>
